/**/target/
/**/nbactions.xml
/**/nbactions-verf.xml
/**/nb-configuration.xml
/**/.settings/
/**/.project
/**/nbproject/
/**/derby.log
.terraform
terraform.tfstate*
.idea
serviceangebot.iml
terraform/30-fargate/performancetest.jtl
terraform/30-fargate/jmeter.log
terraform/30-fargate/resulttree.jtl
*.iml
docker
./testlogfile
localconf/java.home
localconf/maven.repo
src/main/resources/keystore.jks
/.postgresql/*
/.keystore/*
.env
/terraform/30-fargate/.terraform.lock.hcl
ObjectStore/*
/jmeter.log
/performancetest.jtl
/resulttree.jtl
/terraform/25-sqs/.terraform.lock.hcl
